<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/login" method="post"><br/>
        <input type="text" name="username" placeholder="Enter your name"><br/>
        <input type="password" name="password" placeholder="Enter password"><br/>
        <a href="register">new heere??</a><br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>